= nav_link(path: sidebar_external_tracker_paths) do
  = link_to project_integrations_jira_issues_path(@project), class: 'shortcuts-tree' do
    .nav-icon-container
      = sprite_icon('issues')
    %span.nav-item-name.qa-settings-item#js-onboarding-settings-link
      = s_('JiraService|Jira Issues')

  %ul.sidebar-sub-level-items
    = nav_link(path: sidebar_external_tracker_paths, html_options: { class: 'fly-out-top-item' } ) do
      = link_to project_integrations_jira_issues_path(@project) do
        %strong.fly-out-top-item-name
          = s_('JiraService|Jira Issues')
    %li.divider.fly-out-top-item
    = nav_link(path: sidebar_external_tracker_paths[0]) do
      = link_to project_integrations_jira_issues_path(@project), title: s_('JiraService|Issue List') do
        %span
          = s_('JiraService|Issue List')
    = nav_link do
      = link_to issue_tracker.issue_tracker_path, target: '_blank', rel: 'noopener noreferrer' do
        %span
          = s_('JiraService|Open Jira')
          = sprite_icon('external-link', css_class: 'gl-vertical-align-text-bottom')
