- return unless local_assigns.fetch(:license)

.row
  .col-md-6
    .card
      .card-header
        = _('Licensed to')
      %ul.content-list
        - @license.licensee.each do |label, value|
          %li
            %span.light= succeed(':') { label }
            %strong= value

    .card.js-license-info-panel
      .card-header
        = _('Details')
      %ul.content-list
        %li
          %span.light= _('Plan:')
          %strong= @license.plan.capitalize
        %li
          %span.light= _('Uploaded:')
          %strong= time_ago_with_tooltip @license.created_at
        %li
          %span.light= _('Started:')
          %strong= time_ago_with_tooltip @license.starts_at
        %li
          %span.light
            - if @license.expired?
              = _('Expired:')
            - else
              = _('Expires:')
          - if @license.will_expire? && !@license.expired?
            - if @license.trial?
              %strong.has-tooltip{ title: @license.expires_at.to_formatted_s(:long), data: { placement: 'top' } }
                = _('Free trial will expire in %{days}' % { days: pluralize(@license.remaining_days, 'day') })
            - else
              %strong= time_ago_with_tooltip(@license.expires_at)
          - else
            %strong= _('Never')

          - if @license.expired?
            %span.badge.badge-danger.float-right
              %strong= _('Expired')
        %li
          %span.light= _('License ID:')
          %strong= @license.license_id
          = clipboard_button(text: @license.license_id, title: _("Copy ID"), class: "btn-transparent btn-clipboard")


  .col-md-6
    .card.border-info
      .card-header.bg-info.text-white
        = _('Download license')
      .card-body
        %p= _('Your license will be included in your GitLab backup and will survive upgrades, so in normal usage you should never need to re-upload your <code>.gitlab-license</code> file.').html_safe
        %p= _('Still, we recommend keeping a backup saved somewhere. Otherwise, if you ever need it and have lost it, you will need to request GitLab Inc. to send it to you again.')
        %br
        = link_to _('Download license'), download_admin_license_path, class: 'btn btn-info'
        = link_to _('Customer Portal'), 'https://customers.gitlab.com', class: 'btn btn-info btn-inverted', data: { track_event: 'click_text', track_label: 'license_dashboard', track_property: 'customer_portal' }, target: '_blank', rel: 'noopener noreferrer'

    .card.border-danger
      .card-header.bg-danger.text-white
        = _('Remove license')
      .card-body
        %p= _('If you remove this license, GitLab will fall back on the previous license, if any.')
        %p= _('If there is no previous license or if the previous license has expired, some GitLab functionality will be blocked until a new, valid license is uploaded.')
        %br
        = link_to _('Remove license'), admin_license_path, data: { confirm: _('Are you sure you want to remove the license?'), qa_selector: 'remove_license_link' }, method: :delete, class: 'btn btn-remove'
